:root {
    --theme-color: #B509AC;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #e8e8e8;
    --header-height: 44px;
}

html {
    /*font-size: 100%;*/ /* 16px */
    font-size: 62.5%; /* 1rem = 10px */
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}